@font-face {
    font-family: HelveticaNue;
    src: url("HelveticaNeue-Thin.otf") format("opentype");
}
@font-face {
    font-family: Roboto;
    font-weight: Light;
    src: url("Roboto-Light.ttf")
}

.bkg{
    margin: 0px;
    /*background: linear-gradient(225deg,#31A2E2, #06D6A0);*/
    background-color: #2E3440;
    background-attachment: fixed;
    
}

/* DIVS */
#container-r{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    border-radius: 1em;
    
    margin: auto;
    background: #3B4252;
    width: 70%;
    overflow: hidden;
}

#container{
    padding-left: 5%;
    padding-top: 0px;
    padding-bottom: 1.5em;

    margin-top: 5%;
    margin-bottom: 5%;
    background: #3B4252;
}

/* NAV */
#nav-bar{
    width: 100%;
    height: 10%;
    padding: 0px;
    background-color: #3B4252;
}
#nav-links{
    float: left;
}

/* TEXT */
#big-text{
    display: inline-block;
    font-family: "HelveticaNue";
    font-size: 10em;
    text-align: left;
    
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 0px;

    background: -webkit-linear-gradient(45deg,#88C0D0, #A3BE8C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#big-text-c{
    display: inline-block;
    font-family: "HelveticaNue";
    font-size: 10em;
    text-align: center;
    
    width: 100%;
    margin: auto;
    margin-bottom: .25em;
    margin-top: .25em;

    background: -webkit-linear-gradient(45deg,#88C0D0, #A3BE8C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#sub-text{
    display: inline-block;
    width:50%;
    font-family: "HelveticaNue";
    font-size: 2.5em;
    text-align: left;
    
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    margin-bottom: 0px;

    background: -webkit-linear-gradient(45deg,#88C0D0, #A3BE8C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1{
    display: inline-block;
    font-family: "HelveticaNue";
    font-size: 2.5em;
    text-align: left;
    font-weight: bold;
    letter-spacing: .05em;
    
    background: -webkit-linear-gradient(120deg,#EBCB8B, #B48EAD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-top: 2.5%;
    margin-bottom: 0px;
}

h2{
    font-family: "Roboto";
    font-size: 1em;
    text-align: left;
    font-weight: light;

    color: #D8DEE9;

    line-height: 100%;
}

#text{
    font-family: "Roboto";
    font-size: 1.25em;
    text-align: left;
    line-height: 1.25em;

    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

    color: #ECEFF4;
}
